
body{height: 2000px; }


.site-navbar{background: #eee; }
.site-navbar .word-douban{font-size: 25px; word-break: keep-all; color: #28a745; }
.site-navbar .site-search-button{padding-left: 20px; padding-right: 20px; }


section.content{ padding-top: 100px; }
section.content .item{ padding-top: 7px;padding-bottom: 7px;outline: 1px solid red;}

img{
	outline: 1px solid red;
}


.item div.col-md-1{
	outline: 1px solid red;
}